header{
    flex-direction: column;
    /* border: 2px solid red; */
    
    justify-content: center;
    align-items: center;
}
.user {
    align-items: center;
    justify-content: center;
    margin-left: 0%;
}
.user button,.user button:active {
    height: 25px;
    width: 60px;
    padding: 0px 2px;
    margin: 3px 2px;
    font-size: 13px;   
}
.logo img{
    
    width: 40px;
    height: 25px;
}
.logo{
    font-size: 0.7rem;
    margin-right: 0%;
}
.navbar{
    padding: 10px 0px;
    font-size: 1rem;
}
#Clients{
    flex-wrap: wrap;
}
.client-items img{
    width: 60px;
    height: 60px;
}
.client-items{
    padding: 5px 35px;

}
.form-box{
    width: 70%;
    font-family:'Ubuntu', sans-serif ;
}

#Services-container{
    padding-top: 10px;
    padding-bottom: 0%;
}
#Services .box{
    width: 30%;
    margin: 10px 5px;
}
#Services .box img {
    width: 75px;
    height: 75px;
}
#Services .box p{
    font-size: 0.6rem;
}
#Home p{
    font-size: 0.6rem;
    text-align: center;
    text-shadow:2px 1px 5px black;
    
}

.Contact-box input,
.Contact-box textarea{
    font-size: 0.5rem;
}
.form-box{
    font-size: 0.7rem;
}
/* utility classes */
.h-primary{
    font-size: 1.5rem;
    padding: 6px;
}
.h-secondary{
    font-size: 0.6rem;
    padding: 12px;
}