/* css reset  */
:root{
    --darkpurpel: #242038;
    --lightpurpel:#9067C6;
    --morelight:#e0daff;
    
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
/* Header  */
header{
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
    border: 1px solid var(--lightpurpel);
    
    background-color: var(--darkpurpel);

}

/* image and logo  */
.logo img{
    filter: invert();
    width: 60px;
    height: 40px;
}
.logo{
    display: flex;
    flex-direction: column;
    width:115px ;
    justify-content: center;
    align-items: center;
    margin-right:35px;
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    transition-property: all;
    transition-duration: 0.4s;
    
}

.logo:hover{
    background-color: var(--lightpurpel);
    border-radius: 15px;
}
/* Navbar ul and li  */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}
li{
    list-style: none;
    
}
li a{
    color: white;
    text-decoration: none;
    padding: 13px 10px;
    transition-property: all;
    transition-duration: 0.4s;
}
li a:hover{
    border-radius: 25px;
    color:white;
    background-color: var(--lightpurpel);
}

/* login signup button */
.user{
    display: flex;
    margin-left: auto;
}

/* section home */
#Home{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
#Home::before{
    content: "";
    height: 95%;
    width: 100%;
    position: absolute;
    background: url(bg3.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.95;
}
#Home h1{
    
    color:white;
    text-shadow:2px 1px 5px black;
    text-align: center;
}
#Home p{
    font-size: 1.2rem;
    text-align: center;
    text-shadow:2px 1px 5px black;
    
}
#Services-container{
    color: white;
    padding: 30px 0px;
    background-color: var(--darkpurpel);
    border: 2px solid var(--lightpurpel);
}
#Services-container h1{
    text-shadow: 1px 1px 5px var(--lightpurpel);
}
#Services{
    display: flex;
}
#Services .box{
    
    margin: 25px 10px;
    
    background-color: var(--darkpurpel);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Services .box a{
    border: 2px solid var(--lightpurpel);
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition-property: all;
    transition-duration: 0.7s;
}
#Services .box a:hover{
    background-color: var(--lightpurpel);
}
#Services .box img{
    filter: invert();
    height: 200px;
    width: 200px;
    margin: auto;
}
#Clients{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* height: 20vh; */
}
#Clients-container{
    color: white;
    text-shadow: 1px 1px 5px black;
    background-color: var(--lightpurpel);
    /* height: 42vh; */
    /* border: 2px solid var(--darkpurpel); */
}
.client-items{
    padding: 5px 60px;

}
.client-items img{
    width: 100px;
    height: 100px;
}

/* contact page */
#Contact{
    background-color: var(--darkpurpel);
    color: white;
    text-shadow: 1px 1px 5px var(--lightpurpel);
    border: 2px solid var(--lightpurpel);
}
.Contact-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Contact-box input,
.Contact-box textarea{
    color: white;
    width: 100%;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 3px 10px;
    border: 2px solid var(--lightpurpel);
    background-color: var(--darkpurpel);
}
.form-box{
    width: 40%;
    font-family:'Ubuntu', sans-serif ;
}

footer{
    background-color: black;
    color: white;
}
/* utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
}
.center{
    text-align: center;
}
.btn,.btn:active{

    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    height: 40px;
    width: 110px;
    color: white;
    border-color: var(--lightpurpel);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--darkpurpel);
    cursor: pointer;
    padding: 2px 10px;
    margin: 20px 2px;
    transition-property: all;
    transition-duration: 0.4s;
}

.btn:hover {
    
    background-color: var(--lightpurpel);
    border-color: black;
}

/* .btn:active {
   
   
    color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);

} */